<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">

    <button type="button" id="sidebarCollapse" class="settingsbtn">
          <i class="fas fa-align-left"></i>
          <span class="lang en">Toggle Sidebar</span>
      </button>

  </div>
</nav>

<H1 class="lang en" style="text-align: center; font-size : 1.5em; font-weight: bolder">BuddyHub@Developers</H1>
