<!-- Menu -->
<div class="wrapper">
  <!-- Sidebar  -->
  <nav id="sidebar">
    <div class="sidebar-header">
      <h2></h2>
    </div>
    <ul class="list-unstyled components">
      <li>
        <a href="/" class="lang en">Home</a>
      </li>
      <li>
        <a href="/add-api" class="lang en">Add device with RESTful API</a>
      </li>
      <li>
        <a href="/add-c-sharp" class="lang en">Add device with C# Library</a>
      </li>
    </ul>
  </nav>
</div>
