################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/C_Sharp_Server/C_Sharp_Server/bin/Debug/netcoreapp2.0
/C_Sharp_Server/C_Sharp_Server/obj
/UC/UCUI/UCUI/obj
/C_Sharp_Server/C_Sharp_Client/bin/Debug
/C_Sharp_Server/C_Sharp_Client/obj/Debug
/C_Sharp_Server/packages
/C_Sharp_Server/C_Sharp_Server/auth.json
/C_Sharp_Server/Lynxmotion
/C_Sharp_Server/TestLynxmotion
/C_Sharp_Server/TestFunction
