<h1>login</h1>

<form action="/login" method="POST">
<input type="text" name="username" placeholder="Username">
 <input type="password" name="password" placeholder="Password">
   <button>Login</button>
</form>