<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
  <link href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="../css/menu.css" />
</head>

<body>
  <div class="col-md-3 column margintop20">
    <ul class="nav nav-pills nav-stacked">
      <li><a href="/"><span class="glyphicon glyphicon-chevron-right"></span> Home</a></li>
      <% devices.forEach(function(device) { %>
        <li><a href="#"><span class="glyphicon glyphicon-chevron-right"></span> <%= device.device %></a></li>
        <!--/ Product Item -->
        <% }); %>
    </ul>
  </div>
  <div class="col-md-9 column margintop10">
    <h2> Select a Device on the left to start </h2>
  </div>
</body>
