<% include partials/header %>
<link rel="stylesheet" type="text/css" href="/css/step.css">

    <div class = "container">
    <header class="jumbotron">
        <div class="container">
            <h1>Welcome to YelpCook!</h1>
            <p>View our hand-picked recipes from all over the world!</p>
                <p>
                    <a class="btn btn-primary btn-lg" href="/recipes/new">Add New Recipe</a>
                </p>
        </div>
    </header>

    <div class="row text-center" style="display:flex; flex-wrap: wrap;">
        <div class="col-lg-12">
            <h3>Our Most Popular Recipes!</h3>
        </div>
                    <% recipes.forEach(function(recipe) { %>
                <div class="col-md-3 col-sm-6">
                    <div class="thumbnail">
                         <img src="<%= recipe.image%>">
                    </div>
                        <div class="caption">
                          <h4><%= recipe.name %></h4>
                        </div>
                        <p>
                            <a href="/recipes/<%= recipe._id%>" class="btn btn-primary">Choose recipe</a>
                        </p>
                </div>
            <%});%>
            </div>
    </div>



<link rel="stylesheet" type="text/css" href="/css/step.css">

<% include partials/footer %>
