<% include partials/header %>

<link rel="stylesheet" type="text/css" href="/css/landing.css">

<div class="welcome">
	<span>
	<h1>Welcome to YelpCook!</h1>
	<h3>I'm here to help you learn to cook! Together let's make lots of tasty food, I can show you when to do each step, what temperature your food is and I'm full of photos showing you exactly how to chop, whisk or mix your way to tasty meals you can make independantly!</h3>
	<a href="/recipes">VIEW ALL RECIPES</a>
	</span>
</div>

<% include partials/footer %>
 