<% include partials/header %>

<link rel="stylesheet" type="text/css" href="/css/landing.css">

<div class="welcome">
	<span>

	<h1>Welcome to BuddyC<img class="imagestyle1" src="https://i.imgur.com/2NX9Aex.png" alt="BuddyCook" align="middle">k!</h1>

	<h3>I'm here to help you learn to cook! Let's make lots of tasty food!<h3>

	<h3>I can show you when to do each step, what temperature your food is and I'm full of photos showing you exactly how to chop, whisk or mix your way to tasty meals!</h3>
	<!-- <a href="/recipes">VIEW ALL RECIPES</a> -->
	<!-- <a href="/recipes"><input type="button" class="welcomebutton" value="VIEW ALL RECIPES"></a> -->
	<div class="row">

    <div class="col-md-3 col-sm-3 col-xs-6"> <a href="/recipes" class="btn btn-sm animated-button victoria-two">View Recipes</a> </div>

  </div>
	</span>
</div>
<!-- <div class="col-md-3 col-sm-3 col-xs-6"> <a href="#" class="btn btn-sm animated-button victoria-two">Login</a> </div>
 -->
<!-- <a href="/recipes" class="btn btn-sm animated-button victoria-two">VIEW ALL RECIPES</a> -->






<% include partials/footer %>
