<% include partials/header %>

// <link rel="stylesheet" type="text/css" href="/landing.css">
<div class="center">
	<h1>Welcome to YelpCook!</h1>
	<a href="/recipes">View All Recipes</a>
</div>

<% include partials/footer %>
