<link rel="stylesheet" type="text/css" href="/css/new.css">

<% include partials/header %>



    <div class="container">
        <div class="row">

            <h1 style="text-align: center">Create a New Recipe</h1>
                <div style="width: 30%; margin: 25px auto;">
                        <form action="/recipes" method="POST">
                            <div class="form-group">
                            <input class="form-control" type="text" name="name" placeholder="name">
                            </div>
                            <div class="form-group">
                            <input class="form-control" type="number" name="cooking_time" placeholder="cooking time (minutes)">
                            </div>
                            <div class="form-group">
                            <input class="form-control" type="text" name="image" placeholder="image url">
                            </div>
                            <div class="form-group">
                            <input class="form-control" type="text" name="ingredients" placeholder="Ingredients">
                            </div>
                            <div class="form-group">
                            <input class="form-control" type="number" name="servings" placeholder="servings">
                            </div>

                                    <div class="form-group">
                                    <script type='text/javascript'>
                                        function addFields(){
                                            // Number of inputs to create
                                            var number = document.getElementById("nof_step").value;
                                            // Container <div> where dynamic content will be placed
                                            var container = document.getElementById("container");
                                            // Clear previous contents of the container
                                            while (container.hasChildNodes()) {
                                                container.removeChild(container.lastChild);
                                            }
                                            for (i=0;i<number;i++){
                                                // Append a node with a random text
                                                container.appendChild(document.createTextNode("Step " + (i+1)));
                                                // Create an <input> element, set its type and name attributes
                                                var input = document.createElement("input");
                                                input.className = "form-control";
                                                input.type = "text";
                                                input.name = "step" + i;
                                                input.placeholder = "Text instruction";
                                                container.appendChild(input);
                                                // Append a line break
                                                // Create an <input> element for the image of the step
                                                var input2 = document.createElement("input");
                                                input2.className = "form-control";
                                                input2.type = "text";
                                                input2.name = "img" + i;
                                                input2.placeholder = "Step image url";
                                                container.appendChild(input2);
                                                // Append a line break
                                                // Create an <input3> element for the temperature of the step
                                                var input3 = document.createElement("input");
                                                input3.className = "form-control";
                                                input3.type = "Number";
                                                input3.name = "temperature" + i;
                                                input3.placeholder = "Temperature in Celsuis";
                                                container.appendChild(input3);
                                                // Append a line break
                                                // Create an <input4> element for the time of the step
                                                var input4 = document.createElement("input");
                                                input4.className = "form-control";
                                                input4.type = "Number";
                                                input4.name = "time" + i;
                                                input4.placeholder = "Step cooking time";
                                                container.appendChild(input4);
                                                // Append a line break
                                                container.appendChild(document.createElement("br"));
                                            }
                                        }
                                    </script>

                                    <input class="form-control" type="text" id="nof_step" name="steps" value="">Number of steps:<br />
                                    <input type="button" id="filldetails" onclick="addFields()" class="btn btn-primary" value="Enter number of steps"></input>
                                    <div id="container"/>
                                    </div>

                            <div class="form-group" style="margin: 20px auto;">
                            <button class="btn btn-lg btn-primary btn-block">Submit</button>
                            </div>
                        </form>
                     <a href="/recipes">Go Back</a>
                </div>
        </div>
    </div>



<% include partials/footer %>
