body {
    font-family: "lexie_readableregular", sans-serif;
    background: #000;
}

p {
    font-family: "lexie_readableregular",  sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

h1{
    color: white;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    color: black;
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
}

#sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    background: #484848;
    color: #fff;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #181818;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #181818;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #000;
    background: #fff;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #484848;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #484848;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #7386D5;
}

a.article,
a.article:hover {
    background: #000 !important;
    color: #fff !important;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: calc(100% - 250px);
    padding: 40px;
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
}

#content.active {
    width: 100%;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #content {
        width: 100%;
    }
    #content.active {
        width: calc(100% - 250px);
    }
    #sidebarCollapse span {
        display: none;
    }
}

/* ---------------------------------------------------
    TABS STYLE
----------------------------------------------------- */

.pos-f-t {
  color: white !important;
  text-shadow: none;
}

.nav {
  margin-bottom: 18px;
  margin-left: 0;
  list-style: none;
}

.nav>li>a {
  display: block;
}

.nav-tabs {
  *zoom: 1;
}

.nav-tabs:before, .nav-tabs:after {
  display: table;
  content: "";
}

.nav-tabs:after {
  clear: both;
}

.nav-tabs>li {
  float: left;
}

.nav-tabs>li>a {
  padding-right: 12px;
  padding-left: 12px;
  margin-right: 2px;
  line-height: 14px;
}

.nav-tabs {
  border-bottom: 1px solid #fff;
}

.nav-tabs>li {
  margin-bottom: -1px;
}

.nav-tabs>li>a {
  padding-top: 8px;
  padding-bottom: 8px;
  line-height: 18px;
  border: 1px solid transparent;
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
}

.nav-tabs>li>a:hover {
  border-color: #eeeeee #eeeeee #dddddd;
}

.nav-tabs>.active>a, .nav-tabs>.active>a:hover {
  color: #555555;
  cursor: default;
  background-color: #000;
  border: 1px solid #ddd;
  border-bottom-color: transparent;
}

li {
  line-height: 18px;
}

.tab-content.active {
  display: block;
}

.tab-content.hide {
  display: none;
}


.dropdown {
  text-shadow: none;
}



@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

/* Input */

.input-textbox {
  margin-bottom: 10px;
  width: 100%;
}

/*Button styles*/
.settingsbtn {
    background-color: #000;
    border-color: #fff;
    color: #fff;
    padding: 5px 10px;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    margin: 4px 2px;
    font-size: inherit;
}

.settingsbtn:hover {
  background: #fff;
  color: black;
}


.method-button{
    background-color: #000;
    border-color: #fff;
    color: #fff;
    padding: 15px;
    text-align: center;
    display: block;
    text-decoration: none;
    margin: auto;
    font-size: inherit;
}

.form-control{
    font-size:inherit;
    width:80% !important;
    margin: auto;
    display: block;
}


/* Accessible font */
@font-face {
    font-family: 'lexie_readableregular';
    src: url('fonts/lexiereadable-regular-webfont.eot');
    src: url('fonts/lexiereadable-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/lexiereadable-regular-webfont.woff2') format('woff2'),
         url('fonts/lexiereadable-regular-webfont.woff') format('woff'),
         url('fonts/lexiereadable-regular-webfont.ttf') format('truetype'),
         url('fonts/lexiereadable-regular-webfont.svg#lexie_readableregular') format('svg');
    font-weight: normal;
    font-style: normal;