.welcome {
   /* background: bisque; */
    max-width: 800px;
    text-align: center;
    margin: auto;
    font-family: "lexie_readableregular";
    padding: 200px 0;
    height: 500px;
}

h1{
    /*line-height: 300px; */
    font-size: 5em;
} 



/*.center {
    height: 300px;
    line-height: 300px;
    text-align: center;
	margin: 0 auto;
	background-color: bisque;
    max-width: 600px;
	font-family: "lexie_readableregular";
	text-align: center;
    line-height: 400px;  
} */
/*span {
  display: inline-block;
  vertical-align: middle; <doesnt seem to work
  line-height: normal;
}*/
body {
	background: url(https://images.pexels.com/photos/349608/pexels-photo-349608.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
	background-size: cover;
}





@font-face {
    font-family: 'lexie_readableregular';
    src: url('fonts/lexiereadable-regular-webfont.eot');
    src: url('fonts/lexiereadable-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/lexiereadable-regular-webfont.woff2') format('woff2'),
         url('fonts/lexiereadable-regular-webfont.woff') format('woff'),
         url('fonts/lexiereadable-regular-webfont.ttf') format('truetype'),
         url('fonts/lexiereadable-regular-webfont.svg#lexie_readableregular') format('svg');
    font-weight: normal;
    font-style: normal;