@import url(https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css);

.alert {
	color: #FF0000;
	padding: 0;
	margin: 0;
}

*{
	font-size: 23px;
	font-family: "lexie_readableregular";
	
}

h3{font-size:24px} 

h4{font-size:20px}

#myCarousel {
margin-top:52px;
}

@font-face {
    font-family: 'lexie_readableregular';
    src: url('fonts/lexiereadable-regular-webfont.eot');
    src: url('fonts/lexiereadable-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/lexiereadable-regular-webfont.woff2') format('woff2'),
         url('fonts/lexiereadable-regular-webfont.woff') format('woff'),
         url('fonts/lexiereadable-regular-webfont.ttf') format('truetype'),
         url('fonts/lexiereadable-regular-webfont.svg#lexie_readableregular') format('svg');
    font-weight: normal;
    font-style: normal;}


/*ANIMATED BUTTON CODE */

a.animated-button:link, a.animated-button:visited {
  position: relative;
  display: block;
 /* margin: 30px auto 0;*/
  padding: 14px 15px;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  letter-spacing: .08em;
  border-radius: 0;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
  font-family: "lexie_readableregular";
  margin: 0 auto;
}
a.animated-button:link:after, a.animated-button:visited:after {
  content: "";
  position: absolute;
  height: 0%;
  left: 50%;
  top: 50%;
  width: 150%;
  z-index: -1;
  -webkit-transition: all 0.75s ease 0s;
  -moz-transition: all 0.75s ease 0s;
  -o-transition: all 0.75s ease 0s;
  transition: all 0.75s ease 0s;
  margin: 0 auto;
}
a.animated-button:link:hover, a.animated-button:visited:hover {
  color: #fff;
  text-shadow: none;
}
a.animated-button:link:hover:after, a.animated-button:visited:hover:after {
  height: 450%;
}
a.animated-button:link, a.animated-button:visited {
  position: relative;
  display: block;
/*  margin: 30px auto 0;*/
  padding: 14px 15px;
  color: #367722;
  font-size:17 px;
  border-radius: 0;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  letter-spacing: .08em;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
  margin: 0 auto;
}


a.animated-button.add-new-recipe {
  border: 2px solid #367722;
  width: 200%;
  margin-left: 120%;
  margin-right: 30%

  
}
a.animated-button.add-new-recipe:after {
  background: #367722;
  -moz-transform: translateX(-50%) translateY(-50%) rotate(25deg);
  -ms-transform: translateX(-50%) translateY(-50%) rotate(25deg);
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(25deg);
  transform: translateX(-50%) translateY(-50%) rotate(25deg);
}

a.animated-button.choose-recipe {
  border: 2px solid #367722;
  width: 700%;
  margin-left: 0%;
  margin-right: 0%


  
}
a.animated-button.choose-recipe:after {
  background: #367722;
  -moz-transform: translateX(-50%) translateY(-50%) rotate(25deg);
  -ms-transform: translateX(-50%) translateY(-50%) rotate(25deg);
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(25deg);
  transform: translateX(-50%) translateY(-50%) rotate(25deg);
}
/*END OF ANIMATED BUTTON CODE */

.btn.btn-sm.animated-button.add-new-recipe{
  /*border: 3px solid red;*/
  margin-top: 15px;
  display: inline-block;
  margin-bottom: 15px;
}

body {
	background: url(aromatic-board-bread-349608-50-percent-opacity.jpg);
	background-size: cover;
}

.jumbotron {
  background: none;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

