<!-- Button for collapsing menu -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">

    <button type="button" id="sidebarCollapse" class="settingsbtn">
          <i class="fas fa-align-left"></i>
          <span class="lang en">Toggle Sidebar</span>
      </button>
    <!-- Button trigger modal -->
    <button type="button" class="settingsbtn lang en" data-toggle="modal" data-target="#exampleModal">Settings</button>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title lang en" id="exampleModalLabel">Settings</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <input class="lang en" type="text" id="namebox" placeholder="Enter your name">
            <br>
            <!--Change theme-->
            <li>
              <div class="lang en">
                <button class="settingsbtn lang en" onclick=" setActiveStyleSheet('default'); return false;">Light</button> | <button class="settingsbtn lang en" onclick=" setActiveStyleSheet('alternate'); return false;">Dark</button>
              </div>
            </li>
            <br>
            <li>
              <!--Sound enabler-->
              <button class="settingsbtn lang en" id="mutefxn">Mute sound - No</button>
            </li><br>
            <li>
              <!--Sound choices-->
              <button class="settingsbtn" id="sound1">1</button> |
              <button class="settingsbtn" id="sound2">2</button> |
              <button class="settingsbtn" id="sound3">3</button> |
              <button class="settingsbtn" id="sound4">4</button> |
              <button class="settingsbtn" id="sound5">5</button>

            </li>
            <br>
            <li>
              <!--Change size-->
              <button class="settingsbtn" onclick="resizeText(1)" id="plustext">+</button> |
              <button class="settingsbtn" onclick="resizeText(-1)" id="minustext">-</button>
            </li>
            <br>
            <li>
              <!--Shake enabler-->
              <button class="settingsbtn lang en" id="shake">Shake - No</button>
            </li>
            <br>
          </div>
          <div class="modal-footer">
            <button type="button" class="settingsbtn lang en" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>

<!-- Title -->

<H1 class="lang en" style="text-align: center; font-size : 1.5em; font-weight: bolder">BuddyHub</H1>
