<!DOCTYPE html>
<html>
    <head>
        <title>YelpCook</title>
        <base href="/">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/css/landing.css">
        <script type='text/javascript' src='http://code.jquery.com/jquery-1.9.1.js'></script>
    </head>
    <body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">YelpCook</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/">Login</a></li>
                    <li><a href="/">Signup</a></li>
                    <li><a href="/">Logout</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div>
        <h1></h1>
    </div>